{% extends "../templates/base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="../public/style.css">
{% endblock %}

{% block body %}
    <div class="Veille">
        <h1 class="Veille_title">Veille Technologique : Apple</h1>
        <p class="Veille_subtitle" style="text-align: center"> La veille technologique sur Apple met en lumière plusieurs nouveautés et fonctionnalités intéressantes sur les produits et services de la marque.</p>

        <div class="Card">
            <div class="container">
                <h4 class="Card_title">iOS</h4>
                <p class="Card_text">iOS est le système d'exploitation mobile développé par Apple pour l'iPhone, l'iPod Touch, l'iPad et l'Apple TV. Il est dérivé de OS X et comporte quatre couches d'abstraction.</p>
                <p class="Card_text"> Les versions d'iOS sont importantes pour la sécurité, car des milliers d'applications iOS restent vulnérables à Freak, la faille HTTPS, si les utilisateurs utilisent une version d'iOS antérieure à 8.2. Même avec la dernière version, certaines applications peuvent encore être vulnérables en raison de librairies OpenSSL compilées maison par les développeurs</p>
            </div>
        </div>

        <div class="Card">
            <div class="container">
                <h4 class="Card_title">Handoff</h4>
                <p class="Card_text">Handoff est une nouvelle fonctionnalité de continuité introduite par Apple sur iOS 8 et Mac OS X Yosemite, permettant de continuer une tâche sur un appareil Apple à partir d'un autre</p>
            </div>
        </div>

        <div class="Card">
            <div class="container">
                <h4 class="Card_title">Tap to Pay</h4>
                <p class="Card_text">Cette fonctionnalité novatrice permet de convertir votre iPhone en un terminal de paiement électronique sans contact, éliminant ainsi les tracas liés à la configuration et à la maintenance des traditionnels TPE. Elle repose sur la puce NFC de l'iPhone, similaire à Apple Pay, mais cette fois-ci pour recevoir le paiement. Pour l'utiliser, il faut résider dans un des pays suivants : États-Unis, Taïwan, Australie, Royaume-Uni, France, Pays-Bas, Ukraine, Brésil, posséder un iPhone compatible (XS, 11, SE 2, 12, 12 Mini, 13, et toutes les versions plus récentes en classique, Pro et Max), avoir une version iOS 16.4 ou supérieure, et souscrire à un service de paiement et être client d'une banque parmi SumUp, Zettle (Paypal), Stripe, myPOS, Revolut, Tyl, Groupe BPCE</p>
            </div>
        </div>

        <div class="Card">
            <div class="container">
                <h4 class="Card_title">Swift</h4>
                <p class="Card_text">Swift est un langage de programmation créé par Apple, facile à apprendre et à utiliser, qui s'y présente comme une porte d'entrée simple pour les débutants en programmation</p>
            </div>
        </div>

        <div class="Card">
            <div class="container">
                <h4 class="Card_title">Stratégie d'Apple</h4>
                <p class="Card_text">Apple a construit son succès en fixant des prix élevés pour construire une marque de luxe, en offrant des produits uniques et premium qui génèrent des sentiments tels que la nécessité d'avoir le plus exclusif qui existe sur le marché. La stratégie de réussite d'Apple repose sur l'innovation continue, la satisfaction des clients, l'engagement dans le design, l'effort pour offrir la qualité avant la quantité, et un excellent service client</p>
            </div>
        </div>
    </div>
{% endblock %}

