@charset "UTF-8";
/************** Import des variables **************/
/* #################################### */
/*          Variables partagées         */
/* #################################### */
/************** Couleur du thème **************/
/************** Grid **************/
/************** Margin **************/
/************** Padding **************/
/************** Radius **************/
/* #################################### */
/*                Blocks                */
/* #################################### */
/************** Brand **************/
/************** Card **************/
/************** Header **************/
/************** Footer **************/
/************** MainContent **************/
/************************** Bar **************************/
/************** Initialisation diverses **************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  font-family: Nobile, serif;
  background: #1e2e3b;
  overflow-x: hidden;
}

h1 {
  font-size: 3.5rem;
}

/************** Block **************/
.Card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 20px 20px 20px 20px;
  border-radius: 30px;
  margin: 40px 300px 40px 300px;
  color: white;
}
.Card:hover {
  border: solid 1px grey;
}
.Card_info {
  text-decoration: none;
  color: inherit;
  flex-grow: 2;
  flex-direction: column;
  padding: 5px;
}
.Card_title {
  font-size: 24px;
  color: #ef6c00;
  margin-left: 16px;
  margin-bottom: 10px;
  width: 100%;
  flex-grow: 1;
}
.Card_text {
  margin-left: 16px;
  line-height: 26px;
  flex-grow: 1;
  width: 100%;
}
.Card_ressources {
  margin-top: 18%;
  margin-left: 16px;
  justify-content: space-around;
  align-items: center;
  width: 5%;
}
.Card_image {
  object-fit: cover;
  border-radius: 20px;
  background-color: #bbbbbb;
  min-width: 40%;
  max-width: 40%;
  height: 18em;
}

.Card_no_border {
  display: flex;
  padding: 10px 10px 10px 10px;
  margin-top: 16px;
  border-radius: 30px;
  color: aquamarine;
}

.Footer_static {
  position: absolute;
  bottom: 2.4px;
  width: 100%;
}
.Footer_static_text {
  display: flex;
  background-color: #005d80;
  justify-content: space-around;
  align-items: center;
  height: 3em;
}
.Footer_static_text > a {
  text-decoration: none;
  color: white;
}
.Footer_static_img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.Footer_auto {
  position: absolute;
  bottom: auto;
  width: 100%;
}
.Footer_auto_text {
  display: flex;
  background-color: #005d80;
  justify-content: space-around;
  align-items: center;
  height: 3em;
}
.Footer_auto_text > a {
  text-decoration: none;
  color: white;
}
.Footer_auto_img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.Home {
  display: flex;
  flex-direction: column;
  color: white;
}
.Home_title {
  font-size: 36px;
  letter-spacing: 2px;
  color: #FF8119;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.Home_subtitle {
  font-size: 20px;
  color: cadetblue;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 14px;
}
.Home_text {
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 14px;
}

.Topnav {
  display: flex;
  background-color: #005d80;
  justify-content: space-around;
  align-items: center;
  height: 4em;
  width: 100%;
}
.Topnav_img {
  height: 53px;
  width: 48px;
  border-radius: 60px;
}
.Topnav > a {
  text-decoration: none;
  color: white;
}

.Title {
  display: flex;
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
  color: white;
}

.CardSmaller {
  display: inline-flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 10px 10px 10px 10px;
  border-radius: 24px;
  margin: 19px;
  color: white;
  background-color: #263a4a;
  height: 100px;
  width: 15%;
}
.CardSmaller:hover {
  border: solid 1px grey;
}
.CardSmaller_info {
  text-decoration: none;
  color: inherit;
  flex-grow: 2;
  padding: 5px;
}
.CardSmaller_title {
  font-size: 24px;
  color: #ef6c00;
  margin-left: 16px;
  margin-top: 6px;
  width: 100%;
  flex-grow: 1;
}
.CardSmaller_text {
  display: flex;
  margin-left: 16px;
  margin-right: 25px;
  line-height: 26px;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  align-items: center;
}
.CardSmaller_image {
  object-fit: contain;
  background-color: #4c5f70;
  border-radius: 20px;
  max-width: 40%;
  height: 100%;
}

.CardSmaller_center {
  width: auto;
  height: auto;
}

.CardSmaller_no_border {
  display: flex;
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
  margin: 10px 300px 10px 300px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
