html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.Footer {
  width: 100%;
  margin-top: auto;

  &_text {
    display: flex;
    background-color: $footer-bg-color;
    justify-content: space-around;
    align-items: center;
    height: 3em;

    & > a {
      text-decoration: none;
      color: white;
    }
  }

  &_img {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50px;
  }
}
