.Footer_static {
  position: absolute;
  bottom: 2.4px;
  width: 100%;

  &_text {
    display: flex;
    background-color: $footer-bg-color;
    justify-content: space-around;
    align-items: center;
    height: 3em;

  &>a {
    text-decoration: none;
    color: white;
  }

  }

  &_img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
  }
}

.Footer_auto {
  position: absolute;
  bottom: auto;
  width: 100%;

  &_text {
    display: flex;
    background-color: $footer-bg-color;
    justify-content: space-around;
    align-items: center;
    height: 3em;

    &>a {
      text-decoration: none;
      color: white;
    }

  }

  &_img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
  }
}