    <!DOCTYPE html>
    <html lang="fr-FR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Portfolio | Nathan Demoineret</title>
        <link rel="icon" href="/images/icon.png">
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nobile"/>
    </head>

    <body>
    <div class="Topnav">
        <img class="Topnav_img" src="/images/pp.png"/>
        <a href="/">Accueil</a>
        <a href="experiences">Expériences professionel</a>
        <a href="competences">Compétences</a>
        <a href="projects">Projets</a>
        <a href="studies">Etudes</a>
    </div>

    {% block body %}{% endblock %}

    <div class="Footer_auto">
        <footer class="Footer_auto_text">
            <a href="https://nathandemoineret02@gmail.com"><img class="Footer_auto_img" src="images/email_logo.png"></a>
            <a href="https://www.linkedin.com/in/nathan-demoineret-0a6835288/"><img class="Footer_auto_img" src="images/linkedin_logo.png"></a>
            <a href="https://www.flipsnack.com/8AC9E8DD75E/6-_annexe_6-1_-_tableau_de_synthese_-_epreuve_e4_-_bts_sio_2/full-view.html"><img class="Footer_auto_img" src="images/documents_icon.png"></a>
        </footer>
    </div>

    </body>
    </html>