{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
          rel="stylesheet">
{% endblock css %}

{% block body %}
    <div data-aos="fade-up">
        <div class="Container">
            <h1 class="Title">Langages de programmation</h1>
        </div>

        <div class="CardSmaller_center">
            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/html_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">HTML</p>
                </div>
            </div>

            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/css_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">CSS</p>
                </div>
            </div>

            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/scss_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">SCSS</p>
                </div>
            </div>

            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/twig_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">Twig</p>
                </div>
            </div>

            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/php_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">PHP</p>
                </div>
            </div>


            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/csharp_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">C#</p>
                </div>
            </div>

            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/sql_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">SQL</p>
                </div>
            </div>

            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/python_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">Python</p>
                </div>
            </div>
        </div>

        <div class="Subtitle">
            <h1 class="Title">IDE utilisés</h1>
        </div>

        <div class="CardSmaller_center">
            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/phpstorm_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">PhpStorm</p>
                </div>
            </div>

            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/vscode_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">Visual Studio Code</p>
                </div>
            </div>

            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/vs_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">Visual Studio</p>
                </div>
            </div>
        </div>

        <div class="Subtitle">
            <h1 class="Title">Services</h1>
        </div>

        <div class="CardSmaller_center">
            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/mysql_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">MySQL</p>
                </div>
            </div>

            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/docker_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">Docker</p>
                </div>
            </div>

            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/git_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">Git</p>
                </div>
            </div>

            <div class="CardSmaller">
                <img class="CardSmaller_image" src="images/github_logo.png"
                     style="width:100%">
                <div class="container">
                    <p class="CardSmaller_text">GitHub</p>
                </div>
            </div>
        </div>
    </div>


{% endblock body %}