{% extends "base_static.html.twig" %}

    {% block body %}
        <div class="Card">
            <img class="Card_image" src="images/chronix_logo.png" style="width:100%">
            <div class="container">
                <h4 class="Card_title">Stage chez Chronix : 5 semaines</h4>
                <p class="Card_text">Startup Saint-Quentinoise spécialisée dans le développement logiciel, électronique et mécanique à destination de l’évènementiel et de l’industrie</p>
                <a href="https://chronix.fr"><img class="Card_ressources" src="images/externe_icon.png"></a>
                <a href="https://www.flipsnack.com/8AC9E8DD75E/attestation-de-stage-slam/full-view.html"><img class="Card_ressources" src="images/internship_icon.png"></a>
            </div>
        </div>

        <div class="Card">
            <img class="Card_image" src="images/cij_logo.png" style="width:100%">
            <div class="container">
                <h4 class="Card_title">Stage aux CIJ  : 5 semaines</h4>
                <p class="Card_text">Organisme proposant divers services au public et aux professionnels de l'Aisne. Il est engagé dans des actions en partenariat avec d'autres entités telles que la Maison des Arts et Loisirs et Culture</p>
                <a href="https://cij02.com"><img class="Card_ressources" src="images/externe_icon.png"></a>
                <a href="https://www.flipsnack.com/8AC9E8DD75E/attestation-stage-sio2/full-view.html"><img class="Card_ressources" src="images/internship_icon.png"></a>
            </div>
        </div>
{% endblock body %}