{% extends "base_static.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="../public/style.css">
{% endblock %}

{% block body %}
    <div class="Home">
    <h1 class="Home_title">Bienvenue sur mon Portfolio!</h1>
        <p class="Home_subtitle">Présentation</p>>
        <p class="Home_text"> Je m'appelles Nathan DEMOINERET, j'ai 19 ans et je suis passionné d'informatique & de développement</p>
    </div>
{% endblock %}

