{% extends "base.html.twig" %}

{% block css %}
{% endblock css %}

{% block body %}

    <div class="Card">
        <img class="Card_image" src="images/discord_logo.png" style="width:100%">
        <div class="container">
            <h4 class="Card_title">Project PHP - LyamBot</h4>
            <p class="Card_text">LyamBot est un bot Discord développé en PHP avec la bibliothèque discord-php, utilisant MySQL pour stocker les données et ReactPHP pour la boucle d’événements. Il propose un système de modération, un système d’XP, des sondages, des mini-jeux, et bien plus.</p>
            <a href="https://github.com/NathanDMT/LyamBot"><img class="Card_ressources" src="images/externe_icon.png"></a>
        </div>
    </div>

    <div class="Card">
        <img class="Card_image" src="images/visual_studio.png" style="width:100%">
        <div class="container">
            <h4 class="Card_title">Project C# - Menagelec</h4>
            <p class="Card_text">Création d'un client lourd en C# lié à une base de donnée MySQL pour gérer la vente de pièces détachées d'électroménagers pour l'entreprise MENAGELEC. L'application permet l'authentification des utilisateurs, l'affichage des commandes, la gestion des paiements et des expéditions ainsi que la génération automatique delistes de colisage au format PDF.</p>
            <a href=""><img class="Card_ressources" src="images/externe_icon.png"></a>
        </div>
    </div>

    <div class="Card">
        <img class="Card_image" src="images/symfony.jpg" style="width:100%">
        <div class="container">
            <h4 class="Card_title">Project Symfony - Telem</h4>
            <p class="Card_text">Création d'une plateforme en ligne qui intègre un système de gestion de produit. Qui inclut une base de données complète répertoriant l'ensemble des produits proposés sur le site, ainsi que des fonctionnalités de création, suppression et modification via des formulaires dédiés aux administrateurs. Grâce à son moteur de recherche intégré, les utilisateurs bénéficient d'un accès simplifié aux produits qu'ils recherchent.</p>
            <a href=""><img class="Card_ressources" src="images/externe_icon.png"></a>
        </div>
    </div>

    <div class="Card">
        <img class="Card_image" src="images/visual_studio.png" style="width:100%">
        <div class="container">
            <h4 class="Card_title">Project C# - Sécurité routière à vélo</h4>
            <p class="Card_text">Création d'une interface similaire à celle du code de la route en C# avec VIsual Studio, permettant de sensibiliser les utilisateurs à la sécurité routière à vélo</p>
            <a href=""><img class="Card_ressources" src="images/externe_icon.png"></a>
        </div>
    </div>

    <div class="Card">
        <img class="Card_image" src="images/phpstorm_bg.png" style="width:100%">
        <div class="container">
            <h4 class="Card_title">Project PHP - Portfolio</h4>
            <p class="Card_text">Création de mon portfolio en PHP avec des éléments permettant de faciliter le développement tel que Twig, SASS et Symfony router.</p>
            <a href=""><img class="Card_ressources" src="images/externe_icon.png"></a>
        </div>
    </div>
{% endblock body %}
