{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="">
{% endblock css %}

{% block body %}
    <div class="Card">
        <img class="Card_image" src="images/studies_icon.png" style="width:100%; object-fit: contain">
        <div class="container">
            <h4 class="Card_title">INSSET - Saint-Quentin</h4>
            <p class="Card_text">License Professionnelle en Conception et Développement d'Application Web et Mobile - 28/08/2025</p>
        </div>
    </div>


    <div class="Card">
            <img class="Card_image" src="images/studies_icon.png" style="width:100%; object-fit: contain">
            <div class="container">
            <h4 class="Card_title">Lycée Paul Claudel - LAON</h4>
            <p class="Card_text">Brevet de Technicien Suppérieur Service Informatique aux Organisation option SLAM - 05/07/2024</p>
        </div>
    </div>

    <div class="Card">
        <img class="Card_image" src="images/studies_icon.png" style="width:100%; object-fit: contain">
        <div class="container">
            <h4 class="Card_title">Lycée Ternynck - CHAUNY</h4>
            <p class="Card_text">Baccalauréat Sciences et Technologies de l'Industrie et du Développement Durable - 05/07/2022</p>
        </div>
    </div>
{% endblock body %}

